@use "../../../source" as *;

.primary-button
{
    @include primaryButton;
}

.quiz-title
{
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1.8rem;
    text-align: center;
    margin-block: 1.3rem;
}