.main-container
{
    background-image: url("../../img/background-desktop.png");
    background-size: cover;
    height: 100vh;
}

.site-wrapper
{
    height: 100vh;
}

@media screen and (max-width: 768px) {
    .main-container
    {
        background-image: url("../../img/background-mobile.png");
        height: max-content;
    }
}