$primaryColor: #505DE4;
$primaryBlack: #473335;
$dangerColor: #DC3545;

@mixin primaryBackground {
    background-color: $primaryColor;
}

@mixin inputFocusColor {
    border-color: $primaryColor;
}

@mixin primaryBlackText {
    color: $primaryBlack;
}

@mixin primaryTextBlue
{
    color: $primaryColor;
}

@mixin mainButtons
{
    font-size: 1.3rem;
    text-align: center;
    padding: .8rem 3.7rem;
    border-radius: 50px;
}

@mixin primaryButton {
    @include mainButtons();

    background-color: $primaryBlack;
    color: #fff;
}


@mixin secondaryButton {
    @include mainButtons();
    
    padding: .5rem 2.5rem;
    background-color: #fff;
    color: $primaryBlack;
    border: 1px solid $primaryBlack;

    @media screen and (max-width: 758px) {
        font-size: 1.1em;
    }
}

@mixin dangerButton {
    @include mainButtons();

    font-weight: 600;
    background-color: #fff;
    color: $dangerColor;
    border: 1px solid $dangerColor;
}